.main {
  background-image: url($mainBgImgUrl);
  background-repeat: repeat-x;
  background-position-x: center;
  background-blend-mode: overlay;
  background-color: $almostWhite;
  position: relative;
  color: $darkGrey;

  @include wider-than($mainBp){
    top: $mainFromTop; //calculated TopBar + Navbar
  }
  
  &__info {
    @include py(8.375rem);
    @include px($lrSpacing-mobile);
    @include wider-than($mainBp){
      @include px($lrSpacing-desktop);
    }

    h2 {
      color: $orange;
      font-size: $large;
      @include wider-than($mainBp) {
        font-size: $xlarge;
      }
    }

    h1 {
      background-image: url($textBgImgUrl);
      background-position: bottom center;
      background-size: contain;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      font-size: $big;
      font-family: 'COCOGOOSE-LETTERPRESS';
      span {
        font-family: 'COCOGOOSE';
      }

      @include wider-than($mainBp) {
        font-size: $xbig;
      }
    }

    .description {        
      font-size: $regular;
      line-height: 1.5rem;
      border: 3px solid $white;
      margin-top: $medium;
      @include px (1.5rem);
      @include py (1.5rem);

      @include wider-than($mainBp) {
        max-width: 65%;
        margin-top: $small;
        @include px ($medium);
        @include py ($medium);
      }
    }

    .date {
      font-size: $xlarge;
      font-family: 'COCOGOOSE';
      @include py ($small);
    }
  
    .location {
      font-size: $regular;
    }
  }

  &__program {
    background-image: url($programBgImgUrl);
    @include px($lrSpacing-mobile);
    @include wider-than($mainBp){
      @include px($lrSpacing-desktop);
    }   
    @extend .flex;
    flex-direction: column;
    @extend .flex-ai-c;
    padding-bottom: $medium ;

    .sectionTitle {
      color: $white;
      font-size: $large;
      padding-top: $xbig;
    }

    .programContent {
      @include my($medium);
      @extend .flex;
      flex-basis: 100%;
      flex-wrap: wrap;
      gap: $regular;
      @include wider-than($mainBp) {
        flex-wrap: nowrap;
        gap: 0.175rem;
      }

      .programItemCard {
        background-color: #ffffff10;
        border: 2px solid transparent;
        width: 100%;
        display: grid;
        grid-template-columns: 17% 23% 60%;
        &:hover {
          border-color: $white
        }
        @include wider-than($mainBp) {
          grid-template-columns: 100%;
          grid-template-rows: 27% 5% 66%;
          @include px(0.625rem);
        }

        .programCardIcon, 
        .programCardTitle {
          @include my(auto);
          @include mx(auto);
        }

        .programCardIcon {
          i {
            color: $white;
            background-color: transparent;
            font-size: $xbig;
          }
        }

        .programCardTitle {
          color: $orange;
          font-size: $medium;
          font-weight: bold;
          @include wider-than($mainBp) {
            font-size: 0.875rem;
          }
        }

        .programCardDescription {
          color: $almostWhite;
          font-size: $regular;
          line-height: 1.5rem;
          padding-right: $small;
          @include my($regular);
          @include mx(auto);
          @include wider-than($mainBp) {
            font-size: $small;
            @include px(0);
          }
        }
      }
    }

    button.contact {
      @include my($large);
      @include button (4rem, $large, $medium, $white, $orange, 0, unset, 0);
    }

    a {
      @include my($large);
      font-size: $regular;
      color: $almostWhite;
      text-decoration: underline;
    }
  }

  &__speakers {
    background-color: $almostWhite;
    @include px($lrSpacing-mobile);
    @include wider-than($mainBp){
      @include px($lrSpacing-desktop);
    }   
    @extend .flex;
    flex-direction: column;
    @extend .flex-ai-c;
    padding-bottom: $medium ;

    h2 {
      font-size: $large;
      padding-top: $xbig;
      color: $darkGrey;
    }

    .speakersContent{
      @include my($medium);
      @extend .flex;
      flex-basis: 100%;
      flex-wrap: wrap;
      gap: $large;
      @include wider-than($mainBp) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        row-gap: $medium;
      }

      .speakerCard {
        width: 100%;
        display: grid;
        grid-template-columns: 34% 66%;
        @include wider-than($mainBp) {
          grid-template-columns: 36.2% 63.8%;
          grid-template-rows: auto;
        }

        .speakerPicture{
          position: relative;
          padding: 10% 0;
          @extend .flex;
          @extend .flex-jc-c;          
          .pictureHolder {
            z-index: 1;
            position: relative;
            width: 80%;
            .picture {
              width: 100%;
              height: auto;
            }
            &::before {
              background-image: url($bigoreSpeakerPicture);
              @include wider-than($mainBp){
                opacity: 50%;
              } 
              background-position: top left;
              background-size: contain;
              content: '';
              width: 50%;
              height: 50%;
              position: absolute;
              top: -12.5%;
              left: -12.5%;
              z-index: -1;
            }
          }
        }

        .speakerData {
          @include px(0.25rem);

          .speakerName {
            font-size: $medium;
            letter-spacing: -0.0625em;
            padding-bottom: 0.25rem;
            color: $darkGrey;
            font-weight: bold;
          }
          .speakerRole {
            font-size: $regular;
            font-style: italic;
            color: $orange;
          }
          .speakerInfo {
            font-size: $small;
            color: $darkGrey;
          }
        }
      }
    }

    .expand {
      @extend .flex;
      @extend .flex-jc-c;
      @extend .flex-ai-c;
      @include wider-than($mainBp){
       display: none;
      }
      width: 100%;
      @include my($large);
      @include button (unset, $medium, $regular, $darkGrey, transparent, 1px, $lightGrey, 0.25rem);
      border-style: solid;
      i {
        color: $orange;
        font-weight: bold;
      }
    }  
  }    
}
