@font-face {
  font-family: "COCOGOOSE";
  src: url("../webfonts_COCOGOOSE/COCOGOOSE.ttf.woff") format("woff"),
    url("../webfonts_COCOGOOSE/COCOGOOSE.ttf.svg#COCOGOOSE")
      format("svg"),
    url("../webfonts_COCOGOOSE/COCOGOOSE.ttf.eot"),
    url("../webfonts_COCOGOOSE/COCOGOOSE.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  
}
